$green: #31D2B1;
$black: #2D3036;
$white: #F8F9FC;
$headers: #EFF5FE;
$grey: #ABB6C6;

body {
    background: $white;
    color: $black;
    font-size: 16px;
    position: relative;
    text-align: center;
    margin: 0;
    font-family: Tahoma;
}

#main {
    margin: 0 auto;
    max-width: 700px;
    width: 90%;
    padding-top: 20px;
}

.header {
    padding-top: 80px;
    padding-bottom: 80px;
    background: $black;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
        font-weight: normal;
    }
}

.range-slider {
    color: #FFF;
    font-size: 14px;
    line-height: 140%;
    border-radius: 5px;
    border-color: #000;
    top: 0px;
    left: 0px;
    right: 0px;
    max-width: 700px;
    width: 90%;
    height: 40px;
    margin: 0 auto;

    &__cursor {
        width: 4px;
        height: inherit;
        padding: 8px;
        background-color: #FFA52F;

        &_header {
            height: inherit;
        }

        span {
            position: absolute;
            bottom: 0px;
            right: 0px;
            background-color: #B5B5B5;
        }
    }

    &__bars {
        height: 24px;
        background-color: #BDBDBD;
        position: absolute;
        width: 100%;
        top: 15px;
    }

    &__bar {
        height: inherit;
        background-color: #7C7C7C;
    }
}
