body {
  background: #F8F9FC;
  color: #2D3036;
  font-size: 16px;
  position: relative;
  text-align: center;
  margin: 0;
  font-family: Tahoma; }

#main {
  margin: 0 auto;
  max-width: 700px;
  width: 90%;
  padding-top: 20px; }

.header {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #2D3036; }
  .header h1,
  .header h2,
  .header h3,
  .header h4,
  .header h5,
  .header h6 {
    color: #F8F9FC;
    font-weight: normal; }

.range-slider {
  color: #FFF;
  font-size: 14px;
  line-height: 140%;
  border-radius: 5px;
  border-color: #000;
  top: 0px;
  left: 0px;
  right: 0px;
  max-width: 700px;
  width: 90%;
  height: 40px;
  margin: 0 auto; }
  .range-slider__cursor {
    width: 4px;
    height: inherit;
    padding: 8px;
    background-color: #FFA52F; }
    .range-slider__cursor_header {
      height: inherit; }
    .range-slider__cursor span {
      position: absolute;
      bottom: 0px;
      right: 0px;
      background-color: #B5B5B5; }
  .range-slider__bars {
    height: 24px;
    background-color: #BDBDBD;
    position: absolute;
    width: 100%;
    top: 15px; }
  .range-slider__bar {
    height: inherit;
    background-color: #7C7C7C; }
